@use 'variables' as *;
h1{
    font-family: $fonts-headline;
    font-weight: bold;
}
h2,h3,h4{
    font-family: $fonts-headline;
}
p{
    font-family: $fonts-body;
}

a{
    text-decoration: none;
    font-weight: bold;
    background-color: $text-dark;
    color: $accent1;
}
a:hover{
    background-color: $accent1;
    color:$text-dark
}

