// colors
$primary:#D9F3F6;
$accent1:#72B0C0;
$accent2:#4C8DA1;
$text-dark:#112C36;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Libre+Baskerville&display=swap');
$fonts-headline: "Comfortaa", serif;
$fonts-body: "Libre Baskerville", sans-serif;

